{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block nav %}{% endblock %}

{% block body %}
    <body class="login">
        <div class="content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
{% endblock %}

{% block footer %}{% endblock %}
