{% extends '::base.html.twig' %}

{% block body %}
    <div class="row" id="app">
        {{ form_start(form) }}

        <div class="col-md-3">
            <h1>Tags</h1>

            <div>
            <template v-for="user in users">
                <span @drag="dragTag(user.id)" :draggable="isEditAllowed" class="label label-success"><% user.username %></span>&nbsp;
                <span @drag="dragTag(user.id)" :draggable="isEditAllowed" class="label label-info"><% user.email %></span>&nbsp;
                <span @drag="dragTag(user.id)" :draggable="isEditAllowed"
                      class="label label-primary"><% user.createdAt.date %></span>&nbsp;
            </template>
            </div>

            <hr>

            {% if is_granted('ROLE_EDIT') %}
                <button type="submit" class="btn btn-success">Save</button>{% endif %}
            {% if is_granted('ROLE_DELETE') %}<a href="{{ path('deleteCommunication') }}" class="btn btn-danger">
                    Delete</a>{% endif %}
        </div>
        <div class="col-md-9">
            <div @dragover.prevent @drop="dropTag" id="dropzone" style="min-height:600px;"
                 data-prototype="{{ form_widget(form.communication) | e }}">
                <template v-for="user in selectedUsers">

                    <div style="width:200px; float:left; margin-left:10px;">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><% user.username %> <a v-if="isEditAllowed" style="float:right" href="#" @click="removeUser(user.id)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>ID: <% user.id %></li>
                                    <li>Username: <% user.username %></li>
                                    <li>Email: <% user.email %></li>
                                    <li>Created at: <small><% user.createdAt.date %></small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </template>
                <select style="width:100%; height:100%;" name="{{ form.communication.vars.full_name }}" v-show="false"
                        v-if="selectedUsers.length" multiple="multiple">
                    <option selected="selected" v-for="user in selectedUsers" :value="user.id">User (<% user.id %>)
                    </option>
                </select>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var users = {{ users | raw }};
        var dbUsers = {{ selectedUsers | raw }};
        var isEditAllowed = {{ isEditAllowed }};
    </script>
    <script src="{{ asset('assets/communication.js') }}"></script>
{% endblock %}
