{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                window.location.href = '{{ path('dashboard') }}';
            }, 2000);
        });
    </script>
{% endblock %}
