{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
        <h3 class="form-title">Login to your account</h3>
        {% if error %}
            <div class="alert alert-danger">
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">{{ 'security.login.username'|trans }}</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="{{ 'security.login.username'|trans }}"
                       class="form-control placeholder-no-fix" autocomplete="off" id="username" name="_username"
                       value="{{ last_username }}" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{ 'security.login.password'|trans }}</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" id="password" name="_password"
                       placeholder="{{ 'security.login.password'|trans }}" autocomplete="off" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" name="remember_me" value="1" /> {{ 'security.login.remember_me'|trans }}</label>
            <input type="submit" id="_submit" name="_submit" class="btn green pull-right" value="{{ 'security.login.submit'|trans }}" />
        </div>

        {#<div class="forget-password">#}
            {#<h4>Forgot your password ?</h4>#}
            {#<p> no worries, click#}
                {#<a href="javascript:;" id="forget-password"> here </a> to reset your password. </p>#}
        {#</div>#}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </form>
{% endblock fos_user_content %}
