<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('settings') }}">Settings</a></li>{% endif %}
                    {% if is_granted('ROLE_READ') %}
                        <li><a href="{{ path('communication') }}">Communication</a></li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li style="position:absolute; right:20px; top:0;"><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

<div class="container">
    {% for key in  app.session.flashbag.keys() %}
        {% for message in app.session.flashbag.get(key) %}
            <div class="alert alert-{{ key }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
{% if app.environment != 'prod' %}
    <script type="text/javascript">
        var env = "{{ app.environment }}";
    </script>
{% endif %}
{% block scripts %}
{% endblock %}
</html>
