{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settings</h1>

    <div id="app" class="container">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
            <tr>
                <th></th>
                <th><input v-model="search.user" type="text"></th>
                <th></th>
                <th>
                    <select v-model="search.role">
                        <option value="">ALL</option>
                        <template v-for="userRole in userRoles">
                            <option :name="userRole"><% userRole %></option>
                        </template>
                    </select>
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- In the task was said to use radio buttons but it makes less sence then using checkboxes -->
            <tr v-for="(user, key) in tableData">
                <td><% user.id %></td>
                <td><% user.username %></td>
                <td><% user.email %></td>
                <td>
                    <form @change="updateForm(user.id, $event)">
                        <div v-for="userRole in userRoles" class="checkbox">
                            <label><input type="checkbox" name="roles" :value="userRole" :checked="isChecked(user.roles, userRole)"> <% userRole %></label>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/settings.js') }}"></script>
{% endblock %}
